#main_link div{
    display: inline-block;
    height: 29px;
    padding-top: 10px;
    padding-right: 10px;padding-left: 10px;
    color:white;
    transition: 1s;
}
#main_link div:hover{
    opacity: 0.5;
    background-color:#A39C8F ;
}
.top_modal{
    padding-top:10px;border-radius: 3px;
    height: 73%;width: 100%;transition: 1s;

}
.bot_modal{
    padding-top:10px;
    height: 73%;width:100%;border-radius: 3px;transition: 1s;
}
.bot_modal:hover{
    background-color: #A39C8F;
}
.top_modal:hover{
    background-color: #A39C8F;
}
.main_modal{
    margin-right: 50px;
    padding:11px;
    transition: 1s;
}
.main_modal:hover{
    opacity: 0.5;
    background-color:#A39C8F ;
}
.menu{
    position:absolute;
    top:0;
    right: 40px;
}
.menu ul li,menu ul{
    display: inline-block;

}
.menu ul ul a{
    color:white;
    text-decoration: none;
}
.menu ul  a{
    color:white;
    text-decoration: none;
}
.menu ul ul{
    display: none;
    background-color: #19202b;
    margin-right: 50px;
    border-radius: 4px;
}
.menu li:hover ul{
    display: block;
}
.menu ul{
    position: relative;
    margin: 0;padding: 0;
}
.menu li:hover li{
    display: block;
}
.menu ul li{
    height: 40px;
}
.common_news_view{
    position: absolute;top:15%;left:17%;
    width: 50%;
    height: auto;
    z-index:5;
}
#news_window{
    position: relative;top:0%;left:0%;
    width: 100%;
    height: auto;
    z-index:5;
}
#caption{
    position: relative;
    margin-top: 4%;
    height: auto;
    font-size:30px;
}

.text_new{
    margin-top: 1%;
    position: relative;
    left:1%;right: 3%;
    width: 94%;
    height: auto;
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 6px;
    padding-left: 2%;
    padding-right: 2%;
    word-wrap:break-word;
}
#pubdata{
    position: relative;
    font-family: Andalus;
    height: auto;
   width: 20%;
    left:1%;
    margin-top: 0.5%;
}
.pages_div{
    margin-top: 3%;
    position: absolute;
    left:20%;

}
.pages_div a{
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    background-color: #30d5c8;
    margin: 2px 3px 2px 0px;
    display: block;
    float: left;
    transition: 0.5s all;
    border-radius: 2px;
}
a.disabled {
    pointer-events: none;
    cursor: default;
    color:#C0C0C0;
}
.pages_div a:hover{
    background-color:#9c9087;
    opacity: 0.8;
}
.one_new{
    position: absolute;
    left:15%;
    top:15%;
    width: 50%;
    height:auto;
}
.one_new_caption{
    position: relative;
    height: auto;
    font-size:30px;
    width: 100%;
}
.one_new_text{
    position: relative;
    margin-top: 2%;
    height: auto;
    width: 100%;
    font-size: 18.5px;
}
#gallery{
    position: relative;
    width: 100%;
    border: 1px solid;
}
.sizer1{
    width: 100%;
}
.sizer2{
    width: 50%;
}
.sizer4{
    width: 25%;
}
.item-masonry img{
    width: 100%;
    height: auto;
}
.one_new_pubdata{
    position: relative;
    height: auto;
    width: 20%;
    left:1%;
    margin-top: 0.5%;
}
.registration_form{
    position: absolute;
    left:20%;
    width: 55%;
    top:20%;
    height: auto;
}
.registration_form div{
    margin-top: 1.7%;
}
.registration_form .first{
    margin-top: 0;
}
.registration_form .error h5{
    position: relative;
    left:27%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
}

.registration_form .error{
    margin-top: 0;
    color: red;
}
.registration_form div div{
    height: auto;
    display: inline-block;
    width: 30%;
    left:20%;
    text-align: right;
}
.registration_form div input{
    position: relative;
    height: 40px;
    width: 25%;
    left: 0%;
    display: inline-block;
    font-size: larger;

}
.autorization_window{
    position: absolute;
    left:25%;top:33%;
    width: 30%; height: auto;
}
.autorization_window div{
    position: relative;
    width: 100%;
    margin-top: 3%;
    height: auto;
}
.autorization_window div input{
    border-radius: 3px;
    margin-left: 22%;
    height: 40px;
    width: 65%;
    font-size: larger;

}
.hint{
    position: relative;
    left:30%;
    color: red;
    width: 55%;
}
.kek{
  position:relative;width: 55%;
    left:25%;top:0%;display: none;
}
.badge{
    width:auto;
    border:1px solid black;

}
.likes{
    display: inline-block;
    position: relative;
    left: 66%;
    border-radius: 3px;
    width: auto;
}
.likes:hover{
    background-color:#e8f6ff;
}
.likes_count{
    display: inline-block;
    position: relative;
    width: auto;


}
.heart{
    display: inline-block;
    position: relative;
    font-size: 17px;
    font-family:Arial;

}
.heart_disable{
    display: inline-block;
    position: relative;
    font-size: 17px;
    font-family:Arial;
}
.nullLike{
    cursor: default;
    color: #999;
}
.ActivLike .heart{
    color:black;
}
.noActivLike .heart{
    color:#b8e4ff;
}
.nullLike .heart{
    color:gray;
}
.modal_like_window1{
    display: none;
    width: 300%;
    color: #999;
    position: absolute;
}
#body{
    position: relative;
    padding: 0;
    margin: 0;
}

.sizer1{
    width: 100%;
}
.sizer2{
    width: 50%;
}
.sizer4{
    width: 25%;
}
.item-masonry{
    position: relative;
}

.item-masonry img{
    width: 100%;
    height: auto;
    display: block;
}
.cover-item-gallery{
    background-color: #000;
    opacity: .5;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    display: none;
}

.cover-item-gallery a{
    display: block;
    width: 100%;
    height: 100%;
}

.cover-item-gallery a i.fa{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -11px;
    margin-top: -14px;
}
.comentText{
    width: 70%;
    height:40px;
    resize:none;
    overflow:hidden;
    display:block;
}
.coment{
    box-shadow: 0.5px 0.5px 6px;
    border-radius: 2px;
    position: relative;
    left:10%;
    right: 10%;
    width: 80%;
    height: auto;

}
.author_coment_name{

    position: relative;
    width: 100%;
    height: auto;
    margin-top: 3%;
    margin-left: 1%;
}
.authorcomentText{
    margin-left: 4%;
    margin-top: 0.5%;
    position: relative;
    width: 95%;
    height: auto;
    word-wrap:break-word;
}
.comentPubData{
   margin-top: 1%;
    margin-left: 1%;
}
.deleteComent{
    position: absolute;
    top:1%;right: 1%;
    opacity: 0.35;
    text-decoration: none;
}
.delete:hover{
    opacity: 1;
    transition: 0.5s;
}

.main_error{
    position: fixed;
    top:5.5%;
    height: 4%;width: 5.6%;
    background-color: #FA8072;opacity: 0.6;
    padding-left: 1.5%;padding-top:0.5%;
    border: 0.5px solid;border-radius: 1px;
    display: none;
}
.nullComent{
    margin-top:3%;margin-left: 25%;box-shadow: 0.5px 0.5px 6px;padding-left: 5%;padding-right: 5%;width: 30%;
}
.allComents{
   width: 100%;height: auto;
}
.moreComents {
    position: relative;
    left:26%;
    height: 45px;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    background-color: #b8e4ff;
    opacity: 0.7;

}
.moreComents a{
    vertical-align: middle;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
   padding-top: 15px;
}
.hideComents{
    position: relative;
    left:26%;
    height: 45px;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    background-color: #b8e4ff;
    opacity: 0.7;
    display: none;
}
.hideComents a{
    vertical-align: middle;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 15px;
}
.newsBlockFinder{
    position:absolute;
    top:10%;
    right: 5%;
    width: 24%;
    height: 5%;

}
.newsBlockFinderInput{
    width:70%;
    height:100% ;
    font-size: large;

}
.newsBlockFinderButton{
    width: 25%;
    height:100% ;
    border-radius: 0.5px;
}